body {
margin: 0;
font-family: 'Georgia', serif;
background-color: #33595E;
color: #0b2f2f;
}


.works-container {
width: 85%;
max-width: 1200px;
margin: auto;
padding: 50px 0;
text-align: center;
}


h1 {
letter-spacing: 3px;
font-size: 50px;
margin-bottom: 50px;
text-transform: uppercase;
color: #181717;
}


.grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
gap: 60px 40px;
}


.work {
position: relative;
padding-bottom: 100px;
text-align: left;
background: rgba(255, 255, 255, 0.25);
padding: 50px;
border-radius: 20px;
transition: transform 0.25s ease, box-shadow 0.25s ease;
border: 1px solid #0b2f2f;
}


.work:hover {
transform: translateY(-8px);
box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}


.work img {
width: 265px;
margin-right: 100px;
border: 2px solid #0b2f2f;
border-radius: 5px;
}


.title {
font-size: 19px;
font-weight: bold;
margin: 18px 0 10px;
text-transform: uppercase;
letter-spacing: 2px;
}


.desc {
font-size: 15px;
line-height: 1.6;
}

.project-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.project-btn {
    position: absolute;
    bottom: 15px;  
    padding: 10px 25px;
    background-color:#33595E;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    border: 2px solid #0b7070;
    border-radius: 12px;
    transition: 0.3s ease;
}

.project-btn:hover {
    background-color: #11a3a3;
    border-color: #11a3a3;
    color: #002222;
}

.back-home {
    text-align: center;
    margin: 40px 0 20px;
}

.btn-home {
    background-color:#0b2f2f; 
    color: #fff;
    font-weight: bold;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 8px;
    transition: background 0.3s;
}

.btn-home:hover {
    background-color:#11a3a3;
}


footer {
display: flex;
justify-content: center;  
align-items: center; 
margin-top: 30px;
font-size: 13px;
opacity: 0.7;
color: black;
width: 100%;
text-align: center;
}